
html,
body {
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #40424a;
	margin: 0;
	font-weight: 600;
	font-family: 'Josefin Sans', sans-serif;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

p {
	font-size: 5px;
	color: #808181;
	line-height: 1.8;
}

img {
	max-width: 60%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
	Helper CSS
-----------------------*/
.spad {
	padding-top: 100px;
	padding-bottom: 0px;
}

.section-title h2 {
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 2px;
	line-height: normal;
}

.section-title h2:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 0;
	background: #40424a;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
}

/*------------------------
  Common Elements
--------------------------*/
/* Progress dots */
.language-progress {
	max-width: 280px;
	list-style: none;
}

.language-progress li {
	font-size: 20px;
	position: relative;
	padding-right: 150px;
	margin-bottom: 30px;
}

.language-progress .lan-prog {
	position: absolute;
	right: 0;
	top: 0;
}

.language-progress .lan-prog span {
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: 18px;
	border-radius: 12px;
	background: #40424a;
}

.language-progress .lan-prog span.fade-ele {
	background: #cacaca;
}

/* Icon Box */
.social-links a {
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/*---------------------
	Header section
-----------------------*/
.header-section {
	padding: 50px 40px;
	background: #f2f7f8;
}

.site-logo h2 {
	font-size: 70px;
}

.site-logo h2 a {
	color: #40424a;
}

/*---------------------
	Hero section
-----------------------*/

.hero-text {
	margin-bottom: 80px;
}

.hero-text h2 {
	font-size: 170px;
	line-height: normal;
	margin-bottom: 20px;
}

.hero-text p {
	font-size: 23px;
	line-height: 1.3;
}

.hero-image {
	padding-top: 70px;
}

.hero-info h2 {
	margin-bottom: 30px;
}

.hero-info ul {
	list-style: none;
}

.hero-info ul li {
	font-size: 20px;
	color: #000;
	margin-bottom: 15px;
}

.hero-info ul li span {
	color: #000;
	display: inline-block;
	min-width: 220px;
}

.hero-info ul li:last-child {
	margin-bottom: 0;
}

/*---------------------
	Resume section
----------------------*/
.resume-section{
	margin-bottom: 80px;
}

.resume-list {
	list-style: none;
	margin-left: 60px;
	padding-left: 110px;
	border-left: 2px solid #40424a;
}

.resume-list li {
	margin-bottom: 120px;
	position: relative;
}

.resume-list li:last-child {
	margin-bottom: 0;
}

.resume-list li:after {
	position: absolute;
	content: '';
	width: 15px;
	height: 15px;
	border: 2px solid #40424a;
	border-radius: 50px;
	background: #cacaca;
	top: 30px;
	left: -118px;
}

.resume-list h2 {
	font-size: 72px;
	margin-bottom: 10px;
}

.resume-list h4 {
	font-size: 16px;
	text-transform: uppercase;
	color: #808181;
	margin-top: 10px;
	margin-bottom: 45px;
}

.resume-list p {
	margin-bottom: 0;
}

/*---------------------
	Footer section
-----------------------*/
.footer-section {
	background: #40424a;
	padding: 20px 0;
}

.copyright {
	padding-top: 5px;
	font-size: 12px;
	color: #838488;
	line-height: normal;
}

/*---------------------
	Home 3 Style
-----------------------*/
.home-three-style .main-left-area {
	background: #f2f7f8;
	padding-top: 200px;
	padding-right: 80px;
	padding-left: 80px;
}

.home-three-style .main-left-area .section-title h2 {
	margin-bottom: 80px;
}

.home-three-style .main-right-area{
	padding-top: 200px;
	padding-left: 110px;
}

.home-three-style .resume-list li{
	padding-left: 0;
}

.home-three-style .resume-list li:after {
	display: none;
}

.home-three-style .resume-list{
	border-left: none;
	padding-left: 0;
	margin-left: 0;
}

.home-three-style .header-section{
	padding: 50px 80px;
	background: transparent;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.home-three-style .hero-image {
	margin-bottom: 100px;
}

.home-three-style .hero-text h2{
	font-size: 60px;
	margin-bottom: 40px;
}

.home-three-style .skills{
	max-width: 555px;
}

.home-three-style .fact-box.trans{
	margin-bottom: 80px;
}

.home-three-style .social-links{
	text-align: center;
	padding-bottom: 70px;
	padding-top: 120px;
}

.home-three-style .social-links a{
	font-size: 30px;
	margin-right: 40px;
	color: #b9b9b9;
}

.home-three-style .social-links a:hover{
	color: #484848;
}

/* ===========================
  Responsive
==============================*/
/*  */

@media only screen and (max-width: 1600px) {
	.hero-text h2 {
		font-size: 120px;
	}
}

@media only screen and (max-width: 1366px) and (min-width: 1200px) {
	
	.container-warp {
		min-width: 80%;
		margin-left: 10%;
	}
	.hero-info ul li span {
		min-width: 180px;
	}
}

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.portfolio-warp {
		padding: 0;
	}
	.home-three-style .header-section {
		padding: 50px 15px;
	}
	.home-three-style .main-left-area {
		padding-right: 15px;
		padding-left: 15px;
	}
	.home-three-style .main-right-area {
		padding-left: 50px;
	}
	.home-three-style .main-right-area {
		padding-left: 100px;
	}
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.home-three-style .header-section {
		position: relative;
		background: #f2f7f8;
	}
	.home-three-style .main-left-area {
		padding-top: 0;
	}
	.home-three-style .main-left-area,
	.home-three-style .header-section,
	.home-three-style .main-right-area {
		padding-right: 30px;
		padding-left: 30px;
	}
	.info-section .hero-info ul li span {
		color: #9c9b9b;
	}
	.hero-info ul li {
		margin-bottom: 30px;
	}
	.hero-info ul li span {
		display: block;
	}
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
	.icon-box {
		margin-right: 30px;
		text-align: left;
	}
	.hero-text h2 {
		font-size: 80px;
	}
	.portfolio-warp {
		padding: 0;
	}
	.hidden-md {
		display: none !important;
	}
	.resume-list {
		margin-left: 0;
		padding-left: 0;
		border-left: none;
	}
	.header-section {
		padding: 50px 0;
	}
	.social-section .social-links {
		display: block;
		text-align: center;
	}
	.home-three-style .header-section {
		position: relative;
		background: #f2f7f8;
	}
	.home-three-style .main-left-area {
		padding-top: 0;
	}
	.home-three-style .main-left-area,
	.home-three-style .header-section,
	.home-three-style .main-right-area{
		padding-right: 30px;
		padding-left: 30px;
	}
	.info-section .hero-info ul li span {
		color: #9c9b9b;
	}
}

/* small Mobile :320px. */
@media only screen and (max-width: 479px) {
	.hero-text h2 {
		font-size: 50px;
	}
	.hero-info ul li {
		font-size: 18px;
	}
	.hero-info ul li span {
		display: block;
	}
	.social-section .social-links a {
		margin-right: 30px;
	}
	.resume-list h2 {
		font-size: 50px;
	}
	.portfolio-item {
		margin-bottom: 30px;
	}
	.home-three-style .main-left-area,
	.home-three-style .header-section,
	.home-three-style .main-right-area{
		padding-right: 15px;
		padding-left: 15px;
	}
}
/* small Mobile :320px. */

/* extra css add my me*/
	.section-title-list{
		font-size: 20px;
	}
/* extra css add my me*/

/* skill progress css */
.skill-progress {
	max-width: 280px;
	list-style: none;
}

.skill-progress li {
	font-size: 18px;
	position: relative;
	margin-bottom: 10px;
}

.skill-progress .lan-prog {
	position: absolute;
	right: 0;
	top: 0;
}

.skill-progress .lan-prog span {
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: 18px;
	border-radius: 12px;
	background: #40424a;
}

.skill-progress .lan-prog span.fade-ele {
	background: #cacaca;
}
/* skill progress css */

/* Hobby css*/
.hobby {
	padding-top: 100px;
	padding-bottom: 100px;
}
.hobby-progress {
	max-width: 280px;
	list-style: none;
}

.hobby-progress li {
	font-size: 18px;
	position: relative;
	margin-bottom: 10px;
}

.hobby-progress .lan-prog {
	position: absolute;
	right: 0;
	top: 0;
}

.hobby-progress .lan-prog span {
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: 18px;
	border-radius: 12px;
	background: #40424a;
}

.hobby-progress .lan-prog span.fade-ele {
	background: #cacaca;
}
.section-title-hobby h2 {
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 2px;
	line-height: normal;
}

.section-title-hobby h2:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 0;
	background: #40424a;
}
/* Hobby css*/

.main-div{
	display: flex;
	flex-direction: row;
}
.left-div{
	margin-right: 150px;
}